.game-over-screen-container {
  height: inherit;
}

.game-over-button-container {
  width: fit-content;
}

.button-x {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border-block-start-color: #8a92ff;
  border-inline-end-color: #8a92ff;
  border-block-end-color: #8a92ff;
  border-inline-start-color: #8a92ff;
  background-color: #fff;
  color: #19207b;
}
