.score-list-wrapper {
  list-style: none;
  text-align: center;
  padding: 0 10rem;
  width: -webkit-fill-available;
  min-height: 300px;
  overflow-y: scroll;
}

.score-wrapper {
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #333;
}

.score-nav-button-wrapper {
  height: 100%;
}

.score-buttons {
  text-transform: uppercase;
  padding: 1rem;
  margin-left: 3rem;
  border-radius: 1rem;
  border-block-start-color: #8a92ff;
  border-inline-end-color: #8a92ff;
  border-block-end-color: #8a92ff;
  border-inline-start-color: #8a92ff;
  background-color: #fff;
  color: #19207b;
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  .score-list-wrapper {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .score-list-wrapper {
    padding: 0 1rem;
  }

  .score-buttons {
    margin: 0;
  }
} ;
