.flag-quiz-game-wrapper {
  max-width: 1024px;
  height: 100vh;
  max-height: 868px;
  min-width: 320px;
  background-color: #fff;
}

.main-content-wrapper {
  height: inherit;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}
