.header {
  box-shadow: 0 0.5rem 2rem -0.1rem #a4a4a4;
  padding: 0 3rem;
}

.header__logo {
  position: relative;
  margin: 1rem;
}

.header__text-logo {
  font-size: 3rem;
  margin: 1rem;
}

.header__sub-text {
  font-size: 1rem;
  font-weight: 900;
  transform: rotate(-30deg);
  position: absolute;
  left: -0.5rem;
  top: 0.6rem;
  color: #c70104;
  border: 2px solid #c70104;
}

.header-icon {
  font-size: 2.5rem;
  margin-left: 1rem;
  background-color: #fff;
  border: none;
}

.header__button-container {
  list-style: none;
  padding: 0;
}

/*for iPhone5/SE, Galaxy S5, Motorola G4 or other devices with screen width from 320px to 360px*/
@media screen and (min-width: 320px) and (max-width: 360px) {
  .header {
    padding: 0 1rem;
  }

  .header__logo {
    margin: 0.5rem;
  }

  .header__text-logo {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .header__sub-text {
    font-size: 0.5rem;
    left: -0.4rem;
    top: 0.5rem;
  }

  .header-icon {
    font-size: 2rem;
  }
}

/*for iPhone6/7/8/Plus/X, Pixel 2/2XL and other devices with screen width from 361px to 480px*/
@media screen and (min-width: 361px) and (max-width: 480px) {
  .header {
    padding: 0 1rem;
  }

  .header__text-logo {
    font-size: 2.5rem;
    margin: 0.5rem;
  }

  .header__sub-text {
    font-size: 0.8rem;
    left: -0.7rem;
    top: 0.3rem;
  }

  .header-icon {
    font-size: 2.3rem;
  }
}
