.header {
  box-shadow: 0 0.5rem 2rem -0.1rem #a4a4a4;
}

.header__logo {
  position: relative;
  margin: 1rem;
}

.header__text-logo {
  font-size: 3rem;
}

.header__sub-text {
  font-size: 1rem;
  font-weight: 900;
  transform: rotate(-25deg);
  position: absolute;
  left: -1rem;
  top: 1.5rem;
  color: #c70104;
  border: 2px solid #c70104;
}

.header-icon {
  font-size: 2rem;
  margin-left: 1rem;
}

.game-header-icon {
  font-size: 2.5rem;
}

.header__button-container {
  list-style: none;
}
