.game-info {
  align-self: flex-start;
  width: -webkit-fill-available;
  font-size: 1.3rem;
  margin: 0 3rem;
}

.step-counter {
  margin-top: 0.5rem;
}

.pause-button {
  text-transform: uppercase;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  border-block-start-color: #8a92ff;
  border-inline-end-color: #8a92ff;
  border-block-end-color: #8a92ff;
  border-inline-start-color: #8a92ff;
  background-color: #fff;
  color: #19207b;
}

.main-flag-wrapper {
  border: 1px solid #333;
}

.main-flag-img {
  max-width: 400px;
  width: 350px;
  max-height: 200px;
  height: auto;
}

.answer-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.answer-button-li {
  width: 40%;
}

.answer-button {
  text-transform: uppercase;
  width: -webkit-fill-available;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border-block-start-color: #8a92ff;
  border-inline-end-color: #8a92ff;
  border-block-end-color: #8a92ff;
  border-inline-start-color: #8a92ff;
  background-color: #fff;
  color: #19207b;
}

.answer-button:hover {
  border-block-start-color: #8a92ff;
  border-inline-end-color: #8a92ff;
  border-block-end-color: #8a92ff;
  border-inline-start-color: #8a92ff;
  color: #19207b;
  background-color: #c9d2ff;
  box-shadow: #8a92ff;
  box-shadow: 0 0 0.5rem #8d94ff;
}

/*for iPhone5/SE, Galaxy S5, Motorola G4 or other devices with screen width from 320px to 360px*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .game-info {
    margin: 0 1rem;
  }

  .score-info {
    font-size: 1rem;
    order: 2;
  }

  .main-flag-img {
    max-width: 270px;
    width: 250px;
    max-height: 150px;
    height: auto;
    order: 1;
  }

  .answer-wrapper {
    order: 3;
  }

  .answer-button-li {
    width: 100%;
  }

  .answer-button {
    font-size: 0.7rem;
    margin: 0;
  }
} ;
